body{
    background-color: #4267B2;
}

h1{
    color:rgb(11, 169, 11);
    text-align: center;
    height: 100px;
    text-align: center;
    
}
h3{
    color: rgb(11, 169, 11);
}
img{
    height: 400px;
    
    
}
.Body{
    border: 2px solid grey;
    border-radius: 5px;
    background-color: white;
}