body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #033310;
}
.login-container {
    width: 300px;
    padding: 50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.login-container h1 {
    text-align: center;
    color: #070707;
}
.form {
    margin-bottom: 15px;
}
.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #070707;
}
.form input {
    width: 100%;
    padding: 10px;
    border: 2px solid #042404;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}
.form input:focus {
    border-color: #052f14;
}
.form a {
    display: block;
    text-align: right;
    margin-top: 5px;
    font-size: 12px;
    text-decoration: none;
    color: #033f11;
}
.form a:hover {
    text-decoration: underline;
}
.btn {
    width: 100%;
    padding: 10px;
    background-color: #032811;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    background-color: #033310;
}
.register-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}
.register-link a {
    color: #034119;
    text-decoration: none;
}
.register-link a:hover {
    text-decoration: underline;
}
h4{
    margin-left: 50px;
}