body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4267B2;
}
.register {
    width: 350px;
    padding: 50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.register-container h1 {
    text-align: center;
    color: #070707;
}
.form {
    margin-bottom: 15px;
}
.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #070707;
}
.form input {
    width: 100%;
    padding: 10px;
    border: 2px solid #08351c;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}
.form input:focus {
    border-color: #042c0c;
}
.btn {
    width: 100%;
    padding: 10px;
    background-color: #021f09;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    background-color: #031e09;
}
.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}
.login-link a {
    color: #3d18e4;
    text-decoration: none;
}
.login-link a:hover {
    text-decoration: underline;
}
h1{
    margin-left: 100px;  
}
h4{
    margin-left: 50px;
}